extends layout

block content
  h1.text-center= title

  if (toShow == null)
    h2 No instance to Show details
  else
    // Use a card layout for better styling and centering
    .card.mx-auto.mt-5
      .card-body.text-center
        div.row
          div(class='animalAttr') animal ID:
          div #{toShow._id}
        div.row
          div(class='animalAttr') animal Name:
          div #{toShow.animalName}
        div.row
          div(class='animalAttr') Description:
          div #{toShow.Description}
        div.row
          div(class='animalAttr') animal Cost:
          div #{toShow.animalCost}

    .row.mt-3
      .col.text-center
        a.btn.btn-primary(href='/animal') Back to animal List
