extends layout
block content
  h1= title
  - let animalid = toShow._id
  - let animalName = toShow.animalName
  - let animalCost = toShow.animalCost
  - let animalDescription  = toShow.Description
    div
      div.row
        div(class='animalAttr mr-3') animal ID:
        div #{animalid}
      div.row
        div(class='animalAttr mr-3') animal Name:
        div #{animalName}
      div.row
        div(class='animalAttr mr-3') animal Cost:
        div #{animalCost}
      div.row
        div(class='animalAttr mr-3') Description:
        div #{animalDescription}