extends layout
block content
  h1.text-center= title
  -let destination3 = `dispatch("/animal/create")`
  div.container.text-center
    button.btn(class="btn-primary", onclick=destination3) Create
  - let items = results;
    each item in items
      - let destination0 = `dispatch("/animal/detail?id=${item._id}")`
      - let destination1 = `dispatch("/animal/update?id=${item._id}")`
      - let destination2 = `dispatch("/animal/delete?id=${item._id}")`
        div.container.my-4
          .row.justify-content-center
            .col-8.text-center.bg-light.py-3
              p.animal-info animalName - #{item.animalName}
              p.animal-info animalCost  - #{item.animalCost}
              p.animal-info Description - #{item.Description}
              button.btn.btn-info.mx-2.my-2(class="btn-primary", onclick=destination0) Detail
              button.btn.btn-warning.mx-2.my-2(class="btn-primary", onclick=destination1) Update
              button.btn.btn-danger.mx-2.my-2(class="btn-primary", onclick=destination2) Delete
              br
              br
  script.
    function dispatch(path){
      window.location.href=path
    }